@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Автоматизированная система управления автопарком</h2>
	    <p>
		    Автоматизированная система управления автопарком, позволяющая вести учет водителей и автомобилей. Создавать смены для каждого водителя на каждую машину.
	    </p>
		<p>Также присутствует возможность отображения остаточной стоимости автомобиля на графике.</p>
    </div>
</div>